<div class="p-grid" style="color: red;">
    <div class="p-col-4">
        <a href="/" class="logo-container">
            <img id="topbar-logo" src="assets/layout/images/covid-19-2.png">
        </a>
    </div>
    <div class="p-col-4 footer-icons">
            <p style="text-align: center; color: #f58520;
            margin-right: 16px;
            -moz-transition: color 0.2s;
            -o-transition: color 0.2s;
            -webkit-transition: color 0.2s;
            transition: color 0.2s;">Developed by <a href="https://www.linkedin.com/in/dimitris-pagidas-624637129/" target="_blank">Dimitris Pagidas</a><br> 2021© All rights reserved. </p>
            
    </div>
    <div class="p-col-4 footer-icons">
        <a href="https://github.com/dpagidas" target="_blank">
            <i class="pi pi-github"></i>
        </a>
    </div>
</div>