<div class="layout-wrapper" [ngClass]="{'layout-horizontal': app.menuMode === 'horizontal',
    'layout-overlay': app.menuMode === 'overlay',
    'layout-static': app.menuMode === 'static',
    'layout-slim': app.menuMode === 'slim',
    'layout-menu-light': app.lightMenu === true,
    'layout-menu-dark': app.lightMenu === false,
    'layout-overlay-active': overlayMenuActive,
    'layout-mobile-active': staticMenuMobileActive,
    'layout-static-inactive': staticMenuDesktopInactive,
    'p-input-filled': app.inputStyle === 'filled',
    'p-ripple-disabled': !app.ripple}" [class]="app.topbarColor" (click)="onLayoutClick()">

    <app-topbar></app-topbar>

    <app-vertical-menu></app-vertical-menu>

    <div class="layout-main">
        <div class="layout-content">
            <router-outlet></router-outlet>
        </div>
    </div>

    <!-- <app-config></app-config> -->

    <div class="layout-footer">
        <app-footer></app-footer>
    </div>
</div>
